$fontFam: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
$primary: #4161d4;
$default: #FFFFFF;

@import "../node_modules/bootstrap/scss/bootstrap";

img{
  width: 100%;
}

.gradient{
  background:linear-gradient(135deg,#53a0fd 0%,#4161d4 100%)
}



