$fontFam: Helvetica Neue;
$primary: #B6EFAF;

@import "../node_modules/bootstrap/scss/bootstrap";

img{
  width: 100%;
}

body{
  font-family: Helvetica!important;
  background: $primary;
  .footer{
    background: black!important;
    a {
      color: #ffffff;
      p {
        font-size: 0.65rem;
        padding-right: 0.5rem;
        border-right: solid white 0.1rem;
      }
    }
    &__some{
      margin-left: 50% !important;
      margin-right: 50% !important;
      a{
        color: $primary;
      }
    }
    &__address {
      &__map {
        &--nf {
          p {
            border-right: none !important;
          }
        }
      }
    }
    &__contact{
      &__cookies{
        p{
          border-right: none !important;
        }
      }
    }
  }
  .container-fluid{
    .navbar{
      background: black!important;
      padding: 0;
      width: 100%;
      a{
        width: 80%;
        img{
          width: 80%;
          margin-left: 5%;
          background-color: black;
        }
      }
      ul{
        width: 100%;
        li{
          background: $primary;
          .nav-link{
            color: black;
            font-weight: bold;
            margin: 0;
            margin-left: 10%;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 768px) {
  .container-fluid{

    .navbar{
      display: block;
        .navbar-brand{
          width: 100%;
          margin: 0;
          img{
            width: 80%;
            margin-left: 10%!important;
          }
        }
      ul{
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%!important;
        margin-left: 10%;
        li{
          background: black!important;
          .nav-link{
            background: white;
            border-radius: 5px;
            width: 110px;
            height: auto;
          }
        }
      }
    }
  }
}



@media screen and(min-width: 1200px){

  .container-fluid{

    .navbar{
      ul{
        justify-content: space-around;
        margin-bottom: 20px;
        width: 80%!important;
        margin-left: 10%;
        li{
          background: black!important;
          .nav-link{
            background: black!important;
            border-radius: 5px;
            width: 110px;
            height: auto;
            color: $primary!important;
          }
        }
      }
    }
  }



.footer {
    &__address {
      &__map {
        &--nf {
          p {
            border-right: solid white 0.1rem !important;
          }
        }
      }
    }
  }
}

.overskrift{
  text-align: center;
}

.dprinter{
  background: black;

  p.Printer{
    text-align: center;
    color: white;
    font-size: 40px;

  }

  p{
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;


  }

  a.videoprinter{
    padding-left: 40px;

  }

  img.printer{
    height: 300px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}


.fraser{

  p.CNC{
    text-align: center;
    color: black;
    font-size: 40px;
    padding-right: 40px;
    padding-left: 40px;

  }

  p.CNCsort{
    color: black;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;

  }
  a.CNCvideo{
    padding-left: 40px;
    color: black;

  }

  img.CNCfrase{
    height: 200px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

}
.Laser{
  background: black;

  p.skarer{
    text-align: center;
    color: white;
    font-size: 40px;

  }

  p.laserskarer{
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;


  }

  a.videoskarer{
    padding-left: 40px;

  }

  img.lskarer{
    height: 200px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-right: auto;
  }
}
.plotter{

  p.skarer{
    text-align: center;
    color: black;
    font-size: 40px;
    padding-right: 40px;
    padding-left: 40px;

  }

  p.skarerplotter{
    color: black;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;

  }
  a.videoplotter{
    padding-left: 40px;
    color: black;

  }

  img.splotter{
    height: 200px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

}

.stor{
  background: black;

  p.storformat{
    text-align: center;
    color: white;
    font-size: 40px;

  }

  p.storformatsprinter{
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;


  }

  a.videoformat{
    padding-left: 40px;

  }

  img.sformat{
    height: 150px;
    width: auto;
    display: block;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: auto;
  }
}
.sygemaskine{

  p.syge{
    text-align: center;
    color: black;
    font-size: 40px;
    padding-right: 40px;
    padding-left: 40px;

  }

  p.maskine{
    color: black;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;

  }
  a.videomaskine{
    padding-left: 40px;
    color: black;
    margin-bottom: 20px;

  }

  img.smaskine{
    height: 200px;
    width: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

}
.presser{
  background: black;

  p.varme{
    text-align: center;
    color: white;
    font-size: 40px;

  }

  p.Varmepresser{
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;


  }
  p.vpresser{
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;

  }
  a.videovarme{
    padding-left: 40px;

  }

  img.vapresser{
    height: 150px;
    width: auto;
    display: block;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: auto;
  }
}








